/* 
   FOOTER.css
 */

footer {
  background-color: var(--bg-color);
  padding: 80px 0 40px;
  font-size: 15px;
}

/* Logo */
footer .logo img {
  max-height: 60px;
  margin-bottom: 16px;
}

/* Headings */
footer b.text-lg {
  display: block;
  margin-bottom: 16px;
  font-size: 17px;
  color: var(--main-color);
}

/* Paragraph */
footer p {
  max-width: 360px;
  line-height: 1.9;
}

/* Links */
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_links a {
  text-decoration: none;
  transition:
    color 0.25s ease,
    transform 0.25s ease;
}

.footer_links a:hover {
  color: var(--main-color);
  transform: translateX(-4px);
}

/* Contact list */
.footer_links ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer_links ul i {
  font-size: 14px;
}

/* Social */
footer .social {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

footer .social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: linear-gradient(90deg, #00265d, #474b50);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  transition: transform 0.3s ease;
}

footer .social a:hover {
  transform: translateY(-4px);
}
.footer_links li span {
  font-size: 14px;
  color: var(--main-color);
}

/* Divider */
footer hr {
  margin: 40px 0 20px;
  border-color: rgba(0, 0, 0, 0.08);
}

/* Copyright */
footer .copyright {
  font-size: 14px;
}

footer .copyright img {
  max-height: 40px;
  margin-top: 10px;
}

/* Scroll Up */
.scrollUp {
  position: fixed;
  bottom: 40px;
  right: 45px;
  width: 44px;
  height: 44px;
  background: linear-gradient(90deg, #00265d, #474b50);
  color: #fff;
  border-radius: 50%;
  display: flex; /* ثابت */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 777;

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(10px);
}

.scrollUp:hover {
  transform: translateY(-4px);
}

body.scrolled .scrollUp {
  transform: translateY(0);
}
